<p id="notice"><%= notice %></p>

<h1>Listing Parent To Teacher Notifications</h1>

<table>
  <thead>
    <tr>
      <th>Parent</th>
      <th>Teacher</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
      <th>Show until</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parent_to_teacher_notifications.each do |parent_to_teacher_notification| %>
      <tr>
        <td><%= parent_to_teacher_notification.parent %></td>
        <td><%= parent_to_teacher_notification.teacher %></td>
        <td><%= parent_to_teacher_notification.importance %></td>
        <td><%= parent_to_teacher_notification.subject %></td>
        <td><%= parent_to_teacher_notification.content %></td>
        <td><%= parent_to_teacher_notification.show_until %></td>
        <td><%= link_to 'Show', parent_to_teacher_notification %></td>
        <td><%= link_to 'Edit', edit_parent_to_teacher_notification_path(parent_to_teacher_notification) %></td>
        <td><%= link_to 'Destroy', parent_to_teacher_notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent to teacher notification', new_parent_to_teacher_notification_path %>
