<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= @classroom.school %>
</p>

<p>
  <strong>Standard:</strong>
  <%= @classroom.standard %>
</p>

<p>
  <strong>Division:</strong>
  <%= @classroom.division %>
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
