<p id="notice"><%= notice %></p>

<p>
  <strong>Parent for:</strong>
  <%= @parent.student.first_name %> <%= @parent.student.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @parent.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @parent.last_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @parent.contact_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @parent.email_address %>
</p>


<p class="table_heading">Notifications for the school</p>
<%= render :partial => "shared/notification_table", :locals => { :notifications => @school_notifications } %>
<br>

<p class="table_heading">Notifications for the class</p>
<%= render :partial => "shared/notification_table", :locals => { :notifications => @classroom_notifications } %>
<br>

<p class="table_heading">Individual Notifications</p>
<%= render :partial => "shared/notification_table", :locals => { :notifications => @individual_notifications } %>


<%if @teacher_detail.present? %>
<p class="table_heading">Teacher Details</p>
	<p>
  <strong>First name:</strong>
  <%= @teacher_detail.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher_detail.last_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @teacher_detail.contact_number %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @teacher_detail.email_address %>
</p>
<p class="table_heading">Send Message to Teacher</p>
	<%=form_tag(:action => 'send_from_parent_to_teacher') do%>
	<%=hidden_field_tag :parent_id, @parent.id%>
	<%=hidden_field_tag :teacher_id, @teacher_detail.id%>
	<div class="field">
    <%= label_tag :subject %><br>
    <%= text_field_tag :subject %>
  </div>
  <div class="field">
    <%= label_tag :content %><br>
    <%= text_field_tag :content %>
  </div>

  <div class="actions">
    <%= submit_tag "Send Message To Teacher"%>
  </div>
	<%end%>
<%else%>
	Teacher not assigned to classroom.
<%end%>

</p>


